<div class="sidebar">
  <h4><a href="/leases">All Leases</a></h4>
  <h4><a href="/leases/new">Start new Lease</a></h4>
</div>

<form class= 'vertical-form' action="/leases/<%= @lease.id %>" method="post">
  <label for="customer">Customer Name</label>
  <select name="customer_id" id="customer">
    <% for customer in @customers %>
    <option value="<%= customer.id%>"
      <%= 'selected' if @lease.customer_id == customer.id%>>
      <%= customer.first_name%> <%= customer.last_name%>
    </option>
    <%end%>
  </select>
    <label for="duration">Duration (days)</label>
    <input type="number" name="duration" value="<%= @lease.duration%>" min="1">
    <input type="hidden" name="start_date" value="<%=@lease.start_date%>">
    <input type="hidden" name="total_cost" value="<%=@lease.total_cost%>">

    <input type="hidden" name="returned" value="<%=@lease.returned%>">
    <input type="submit" name="edit_lease" value="Save Changes">
  </form>
