
<h4><a href="/leases/new">Start new Lease</a></h4>

<h3>Active Leases</h3>

<table>
  <tr>
    <th>Customer</th>
    <th>Item Leased</th>
    <th>Start Date</th>
    <th>End Date</th>
  </tr>
  <% for lease in @leases %>
  <% if lease.returned == false %>
  <tr>
    <td><%= lease.customer.first_name %> <%= lease.customer.last_name%></td>
    <td><%= lease.stock_item.type %></td>
    <td><%= lease.start_date %></td>
    <td><%= lease.end_date %></td>
    <td><form action="/leases/<%=lease.id%>" method="get">
      <input type="submit" name="more-lease-details" value="More Details">
    </form></td>
    <td><%= 'Overdue' if lease.overdue?%></td>
  </tr>

  <% end %>
  <% end %>
</table>

<h3>Past Leases</h3>

<table>
  <tr>
    <th>Customer</th>
    <th>Item Leased</th>
    <th>Start Date</th>
    <th>End Date</th>
  </tr>
  <% for lease in @leases %>
  <% if lease.returned %>
  <tr>
    <td><%= lease.customer.first_name %> <%= lease.customer.last_name%></td>
    <td><%= lease.stock_item.type %></td>
    <td><%= lease.start_date %></td>
    <td><%= lease.end_date %></td>
    <td><form action="/leases/<%=lease.id%>" method="get">
      <input type="submit" name="more-lease-details" value="More Details">
    </form></td>
  </tr>
  <% end %>
  <% end %>
</table>
