<div class="sidebar">
  <h4><a href="/leases/new">Start new Lease</a></h4>
  <h4><a href="/leases">Back to Top</a></h4>
</div>

<form action="/leases" method="get">
  <select name="filter">
    <option value="all">All Leases</option>
    <option value="active">Active</option>
    <option value="past">Past</option>
    <option value="overdue">Overdue</option>
    <input type="submit" value="Filter Leases">
  </select>
</form>

<% if @leases.any? {|lease| lease.returned == false}%>
<h3>Leases</h3>

<table>
  <tr>
    <th>Customer</th>
    <th>Start Date</th>
    <th>End Date</th>
  </tr>
  <% end %>
  <% for lease in @leases %>
  <% if lease.returned == false %>
  <tr class=<%= 'overdue' if lease.overdue?%>>
    <td><%= lease.customer.first_name %> <%= lease.customer.last_name%></td>
    <td><%= lease.start_date %></td>
    <td><%= lease.end_date %></td>
    <td><form action="/leases/<%=lease.id%>" method="get">
      <input type="submit" name="more-lease-details" value="More Details">
    </form></td>
    <td><%= 'Overdue' if lease.overdue?%></td>
  </tr>

  <% end %>
  <% end %>
</table>

<% if @leases.any? {|lease| lease.returned}%>

<h3>Past Leases</h3>

<table>
  <tr>
    <th>Customer</th>
    <th>Start Date</th>
    <th>End Date</th>
  </tr>
  <% end %>
  <% for lease in @leases %>
  <% if lease.returned %>
  <tr>
    <td><%= lease.customer.first_name %> <%= lease.customer.last_name%></td>
    <td><%= lease.start_date %></td>
    <td><%= lease.end_date %></td>
    <td><form action="/leases/<%=lease.id%>" method="get">
      <input type="submit" name="more-lease-details" value="More Details">
    </form></td>
  </tr>
  <% end %>
  <% end %>
</table>

<% if @leases.length == 0 %>
<h3>No Leases Found</h3>
<% end %>
