<div class="sidebar">
  <h4><a href="/leases">All Leases</a></h4>
  <h4><a href="/leases/new">Start new Lease</a></h4>
</div>


<h3><%="This Lease is #{@lease.days_overdue} Days Overdue For Return" if @lease.overdue? %></h3>
<table>
  <tr>
    <th>Customer Name</th>
    <td><%= @lease.customer.first_name%> <%= @lease.customer.last_name%></td>
    <td>
      <form action="/customers/<%=@lease.customer_id%>" method="get">
        <input type="submit" name="more-customer-details" value="More Details">
      </form></td>
    </tr>

      <tr>
        <th>Start Date</th>
        <td colspan="2"><%= @lease.start_date%></td>
      </tr>
      <tr>
        <th>Lease Duration</th>
        <td colspan = "2"><%= @lease.duration %> Days</td>
      </tr>
      <tr>
        <th>End Date</th>
        <td colspan="2"><%= @lease.end_date%></td>
      </tr>
      <tr>
        <th>Total Cost</th>
        <td colspan = "2"><%= @lease.total_cost%></td>
      </tr>

      <% if @lease.returned == true %>
      <tr>
        <td colspan="3">
          <%= 'Items Returned' %>
        </td>
      </tr>
      <% else %>
      <tr>
      <th colspan="3s">
        <%= 'Items on Loan' if @lease.stock_items.length >0%>
        <%= 'No Items on Loan' if @lease.stock_items.length ==0%>
      </th>
      </tr>
      <% for item in @lease.stock_items() %>

      <tr>
        <td><%= item.type.capitalize %></td>
        <td>ID: <%= item.id %></td>
        <td><form action="/stock/<%=item.id%>" method="get">
          <input type="submit" name="stock-details" value="More Details">
        </form></td>
      </tr>
      <% end %>
      <tr>
      <td colspan = 3>
        <form action="/leases/<%= @lease.id%>" method="post">
          <input type="hidden" name="start_date" value="<%= @lease.start_date%>">
          <input type="hidden" name="end_date" value="<%= @lease.end_date%>">
          <input type="hidden" name="duration" value="<%= @lease.duration%>">
          <input type="hidden" name="customer_id" value="<%= @lease.customer_id%>">
          <input type="hidden" name="returned" value="t">
          <input type="submit" name="mark-as-returned" value="Mark Lease as Returned">
        </form>
      </td>
    </tr>
    <tr class = "split-row">
      <td>
        <form action="/leases/<%=@lease.id%>/edit" method="get">
          <input type="submit" name="edit-lease" value="Edit Lease Details">
        </form></td>
        <td><form action="/leased-items" method="get">
          <input type="hidden" name="lease_id" value="<%= @lease.id %>">
          <input type="submit" name="add-item" value="Add or Remove Items">
        </form></td>
      </tr>
      <% end %>
    </table>
