<div class="sidebar">
  <h4><a href="/leases/<%= @lease.id %>">Back to Lease</a></h4>
</div>

<table>
  <tr>
    <th>Customer Name</th>
    <th>Lease Duration</th>
  </tr>
  <tr>
    <td><%= @lease.customer.first_name%> <%= @lease.customer.last_name%></td>
    <td><%= @lease.duration%> Days</td>
  </tr>
</table>

<% if @lease.stock_items.length > 0 %>
<table>
  <% for item in @lease.stock_items %>
  <tr>
    <td><%= item.id %></td>
    <td>
      <%= item.type.capitalize %>
    </td>
    <td><form action="/leased-items/<%= @lease.id %>/delete" method="post">
      <input type="hidden" name="item_id" value="<%= item.id %>">
      <input type="hidden" name="lease_id" value="<%= @lease.id %>">
      <input type="submit" name="delete-from-lease" value="Delete from Lease">
    </form></td>
  </tr>


  <% end %>
</table>
<% end %>


<form action="/leases/<%= @lease.id %>" method="get">
  <input class="big-button" type="submit" name="return" value="Finish Lease">
</form>

<p>
  <%= 'No Items are available' if @items.length == 0 %>
</p>
<% if @items.length > 0 %>

<form action="/leased-items/<%= @lease.id %>" method="post">
  <input type="hidden" name="lease_id" value="<%= @lease.id %>">
  <label for="stock_item_id">Add Item to Lease</label>
  <select name="stock_item_id">
    <% for item in @items %>
    <option value="<%= item.id %>"><%= item.id %> <%= item.type.capitalize %></option>
    <% end %>
  </select>
  <input type="submit" name="add-item" value="Add">
</form>

<% end %>
