<div class="sidebar">
  <h4><a href="/stock/new">Add an item to Stock</a></h4>
  <h4><a href="/item-types">View item types</a></h4>
  <h4><a href="/stock">Back to Top</a></h4>
</div>

<form action="/stock/<%= @stock_item.id%>" method="post">
  <label for="type">Item type</label>
  <select name="type_id">
    <% for type in @types %>
    <option value="<%= type.id%>"><%= type.name.capitalize %></option>
    <% end %>
  </select>
  <label for="rental-cost">Rental Cost</label>
  <input type="number" name="rental_cost" id="rental-cost" step="0.01" value="<%=@stock_item.rental_cost%>" min="0.01">
  <input type="hidden" name="available" value="<%= @stock_item.available%>">
  <input type="submit" name="edit-stock-item" value="Save Changes">
</form>
