<div class="sidebar">
  <h4><a href="/stock/new">Add an item to Stock</a></h4>
  <h4><a href="/item-types">View Stock types</a></h4>
  <h4><a href="/stock">Back to Top</a></h4>
</div>

<form action="/stock" method="get">
  <select name="type">
    <option value="all">All Items</option>
    <% for type in @item_types%>
    <option value="<%= type.name%>"><%= type.name.capitalize%></option>
    <% end %>
  </select>
  <input type="submit" value="Filter Items">

</form>
<table>
  <tr>
    <th>ID</th>
    <th>Type</th>
    <th>Rental Cost</th>
    <th>Available</th>
  </tr>
  <% for item in @stock_items %>
  <tr>
    <td><%= item.id%></td>
    <td><%= item.type.capitalize %></td>
    <td><%= item.rental_cost %></td>
    <td><%= item.available ? 'yes': 'no' %></td>
    <td><form action="/stock/<%=item.id%>" method="get">
      <input type="submit" name="stock-details" value="More Details">
    </form></td>
  </tr>

  <% end %>
</table>
