<table>
  <tr>
    <th>Item ID</th>
    <td><%=@stock_item.id%></td>
  </tr>
  <tr>
    <th>Item Type</th>
    <td><%= @stock_item.type%></td>
  </tr>
  <tr>
    <th>Rental Cost</th>
    <td><%= @stock_item.rental_cost%></td>
  </tr>
  <tr>
    <td><form action="/stock/<%=@stock_item.id%>/edit" method="get">
      <input type="submit" name="edit-item" value="Edit Details">
    </form></td>
    <td><form action="/stock/<%=@stock_item.id%>/delete" method="get">
      <input type="submit" name="delete-item" value="Delete This Item">
    </form></td>
  </tr>
</table>

<h3>Current Leases</h3>

<table>
  <% for lease in @stock_item.current_leases %>
  <tr>
    <td><%= lease.stock_item.type %></td>
    <td><%= lease.start_date %></td>
    <td><%= lease.end_date %></td>
    <td><form action="/leases/<%=lease.id%>" method="get">
      <input type="submit" name="more-lease-details" value="More Details">
    </form></td>
  </tr>
  <% end %>
</table>

<h3>Past Leases</h3>

<table>
  <% for lease in @stock_item.past_leases %>
  <tr>
    <td><%= lease.stock_item.type %></td>
    <td><%= lease.start_date %></td>
    <td><%= lease.end_date %></td>
    <td><form action="/leases/<%=lease.id%>" method="get">
      <input type="submit" name="more-lease-details" value="More Details">
    </form></td>
  </tr>
  <% end %>
</table>
