<div class="sidebar">
  <h4><a href="/customers/new">Add a new customer</a></h4>
  <h4><a href="/customers">Back to Top</a></h4>
</div>

<form class= "vertical-form" action="/customers/<%=@customer.id%>" method="post">
  <label for="first-name">First Name</label>
  <input type="text" name="first_name" id="first-name" value = "<%= @customer.first_name%>">
  <label for="last-name">Last Name</label>
  <input type="text" name="last_name" id="last-name" value = "<%= @customer.last_name%>">
  <label for="contact-number">Contact Number</label>
  <input type="tel" name="contact_number" id="contact-number" value="<%= @customer.contact_number%>">
  <label for="age">Age</label>
  <input type="number" name="age" id="age" value="<%=@customer.age%>" min ="10">
  <input type="submit" name="edit-customer" value="Save Changes">
</form>
