
<form action="/customers" method="get">
  <input class = "namesearch" type="text" name="name" id='name' >
  <input type="submit" name="search" value="Search for customer">
</form>
<table>
  <% for customer in @customers %>
  <tr>
    <td><%= customer.first_name %> <%=customer.last_name%></td>
    <td><form action="/customers/<%=customer.id%>" method="get">
      <input type="submit" name="show" value="More Details">
    </form></td>
    <td><form action="/leases/new" method="get">
      <input type="hidden" name="customer_id" value="<%= customer.id %>">
      <input type="submit" name="create-lease" value="New Lease">
    </form></td>
  </tr>

  <% end %>
</table>
<p>
<%= "No matches found" if @customers.length == 0 %>
</p>
