<table>
  <tr>
    <th>Name</th>
    <td><%= @customer.name %></td>
  </tr>
  <tr>
    <th>Contact</th>
    <td><%= @customer.contact_number %></td>
  </tr>
  <tr>
    <th>Age</th>
    <td><%= @customer.age%></td>
  </tr>
  <tr>
    <td><form action="/customers/<%=@customer.id%>/edit" method="get">
      <input type="submit" name="edit" value="Edit Details">
    </form></td>
    <td><form action="/customers/<%=@customer.id%>/delete" method="get">
      <input type="submit" name="delete-buttom" value="Delete This Customer">
    </form></td>
  </tr>
</table>
