<div class="sidebar">
  <h4><a href="/customers">All Customers</a></h4>
  <h4><a href="/customers/new">Add a new customer</a></h4>
</div>

<table>
  <tr>
    <th>Name</th>
    <td><%= @customer.first_name %> <%= @customer.last_name %></td>
  </tr>
  <tr>
    <th>Contact</th>
    <td><%= @customer.contact_number %></td>
  </tr>
  <tr>
    <th>Age</th>
    <td><%= @customer.age%></td>
  </tr>
  <tr>
    <td><form action="/customers/<%=@customer.id%>/edit" method="get">
      <input type="submit" name="edit" value="Edit Details">
    </form></td>
    <td><form action="/customers/<%=@customer.id%>/delete" method="get">
      <input type="submit" name="delete-buttom" value="Delete This Customer">
    </form></td>
  </tr>
  <tr>
    <td colspan="2"><form action="/leases/new" method="get">
      <input type="hidden" name="customer_id" value="<%= @customer.id %>">
      <input type="submit" name="create-lease" value="New Lease">
    </form></td>
  </tr>
</table>

<% if @customer.current_leases.length > 0 %>
<h3>Current Rentals</h3>
<% end %>
<table>
  <% for lease in @customer.current_leases %>
  <tr>
    <td><%= lease.start_date %></td>
    <td><%= lease.end_date %></td>
    <td><form action="/leases/<%=lease.id%>" method="get">
      <input type="submit" name="more-lease-details" value="More Details">
    </form></td>
  </tr>
  <% end %>
</table>

<% if @customer.past_leases.length >0 %>
<h3>Past Rentals</h3>
<% end %>

<table>
  <% for lease in @customer.past_leases %>
  <tr>
    <td><%= lease.start_date %></td>
    <td><%= lease.end_date %></td>
    <td><form action="/leases/<%=lease.id%>" method="get">
      <input type="submit" name="more-lease-details" value="More Details">
    </form></td>
  </tr>
  <% end %>
</table>

<% if @customer.past_leases.length == 0 &&  @customer.current_leases.length == 0%>
<h3>No Rental History for this Customer</h3>
<% end %>
